* { 
    font-family: 'Kalam', cursive;
    font-size: 20px;
    background-color: #ffe6ff;
}
section {
    background-color: #ffffff;
    width: 50%;
    border: 1px solid white;
    padding: 50px;
    margin: auto;
    box-shadow: 5px 10px transparent;
}
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    background-color: #ffffff;
}

#up {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    background-color:#ffffff;
}
.bcolor, ol, ul, li, p, strong, h2, h3 {
    background-color: #ffffff;
}
.ordered {
    list-style-type: upper-roman;
}
.unordered {
    list-style-type: circle;
}

img {
    width: 90%;
}

.link {
    background-color:#ffffff;
    color: black;
}